/* static/css/style.css */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
}


#auth-buttons {
  position: fixed;
  top: 60px; /* Ajustez la position verticale */
  left: 20px; /* Ajustez la position horizontale */
  z-index: 1; /* Assurez-vous que les boutons restent au-dessus des autres éléments */
}

#container {
  display: flex;
  justify-content: center; /* Centre la grille horizontalement */
  margin: 20px; /* Ajoute une marge autour de la grille */
}

#menu {
  position: fixed;
  top: 50%; /* Centre verticalement */
  transform: translateY(-50%);
  left: 20px; /* Ajustez la position horizontale */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  z-index: 1; /* Assurez-vous que le menu reste au-dessus de la grille */
}

.color-option {
  width: 24px;
  height: 24px;
  margin: 5px;
  border: 2px solid transparent;
  cursor: pointer;
}

.color-option.selected {
  border: 2px solid #000;
}

/* Augmentez la largeur de la grille de pixels */
#grid {
  display: grid;
  position: fixed;
  top: 20px; /* Ajustez la position verticale */
  left: 170px; /* Ajustez la position horizontale */
  bottom: 80; /* Assurez-vous que la grille reste au-dessus du bas de la page */
  right: 50px; /* Assurez-vous que la grille reste à droite de la page */
  overflow: auto;
  grid-template-columns: repeat(85, 20px); /* Ajustez la taille initiale des colonnes */
  grid-template-rows: repeat(44, 20px); /* Ajustez la taille initiale des lignes */
  gap: 0px; /* Supprime l'espacement entre les pixels */
  padding: 0px;
  background-color: #fff;
  border-collapse: separate;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Cache la barre de défilement */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.pixel {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  cursor: pointer;
  margin: 0; /* Supprime les marges */
  padding : 0px;
  border: 1px solid transparent #000;
  box-sizing: border-box; /* Inclut les bordures et le padding dans la taille totale */

}

.pixel:hover {
  border: 1px solid #000;
}

/* Styles pour le timer */
#timer {
  position: fixed;
  top: 120px; /* Ajustez la position verticale en fonction de votre mise en page */
  left: 20px; /* Ajustez la position horizontale */
  font-size: 24px; /* Taille de la police */
  color: #333; /* Couleur du texte */
  background-color: #fff; /* Couleur de fond */
  padding: 10px; /* Espacement intérieur */
  border-radius: 5px; /* Coins arrondis */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Ombre douce */
  z-index: 1; /* Assurez-vous que le timer reste au-dessus des autres éléments */
}
