/* static/css/style.css */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
}

h1 {
  margin: 20px 0;
  text-align: center;
  position: fixed;
  top: 20px; /* Ajustez la position verticale */
  left: 50%; /* Centre horizontalement */
  transform: translateX(-50%);
  z-index: 1; /* Assurez-vous que le titre reste au-dessus des autres éléments */
}

#auth-buttons {
  position: fixed;
  top: 60px; /* Ajustez la position verticale */
  left: 20px; /* Ajustez la position horizontale */
  z-index: 1; /* Assurez-vous que les boutons restent au-dessus des autres éléments */
}

#container {
  display: flex;
  justify-content: center; /* Centre la grille horizontalement */
  margin: 20px; /* Ajoute une marge autour de la grille */
}

#menu {
  position: fixed;
  top: 50%; /* Centre verticalement */
  transform: translateY(-50%);
  left: 20px; /* Ajustez la position horizontale */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  z-index: 1; /* Assurez-vous que le menu reste au-dessus de la grille */
}

.color-option {
  width: 24px;
  height: 24px;
  margin: 5px;
  border: 2px solid transparent;
  cursor: pointer;
}

.color-option.selected {
  border: 2px solid #000;
}

/* static/css/style.css */

/* Augmentez la largeur de la grille de pixels */
#grid {
  display: grid;
  position: fixed;
  top: 20px; /* Ajustez la position verticale */
  left: 180px; /* Ajustez la position horizontale */
  bottom: 20px; /* Assurez-vous que la grille reste au-dessus du bas de la page */
  right: 20px; /* Assurez-vous que la grille reste à droite de la page */
  overflow-y: auto;
  grid-template-columns: repeat(90, 15px); /* Augmente le nombre de colonnes */
  grid-template-rows: repeat(40, 15px); /* Réduit le nombre de lignes */
  gap: 7px;
  padding: 10px;
  background-color: #fff;
  border-collapse: separate;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}



button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.pixel {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid transparent; /* Ajoute une bordure transparente à tous les côtés */
}

.pixel:hover {
  border: 1px solid #000;
}


/* static/css/style.css */

/* Styles pour le timer */






#timer {
  position: fixed;
  top: 120px; /* Ajustez la position verticale en fonction de votre mise en page */
  left: 20px; /* Ajustez la position horizontale */
  font-size: 24px; /* Taille de la police */
  color: #333; /* Couleur du texte */
  background-color: #fff; /* Couleur de fond */
  padding: 10px; /* Espacement intérieur */
  border-radius: 5px; /* Coins arrondis */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Ombre douce */
  z-index: 1; /* Assurez-vous que le timer reste au-dessus des autres éléments */
}
